In [6]:
from datetime import datetime, timedelta
from nba_api.stats.endpoints import scoreboard, scoreboardv2
import pandas as pd

# get yesterday's date
yesterday = datetime.now() - timedelta(days=1)
yesterday_str = yesterday.strftime('%m/%d/%Y')

# get scoreboard for yesterday's date
games = scoreboardv2.ScoreboardV2(day_offset=0, game_date=yesterday_str).line_score.get_data_frame()

games.head()
# loop through each game and print the winner
# for index, game in games.iterrows():
#     print(f"{game['VISITOR_TEAM_NAME']} {game['VISITOR_TEAM_SCORE']} - {game['HOME_TEAM_SCORE']} {game['HOME_TEAM_NAME']}")
#     if game['VISITOR_TEAM_SCORE'] > game['HOME_TEAM_SCORE']:
#         print(f"Winner: {game['VISITOR_TEAM_NAME']}")
#     else:
#         print(f"Winner: {game['HOME_TEAM_NAME']}")

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2023-05-06T00:00:00,1,0042200203,1610612752,NYK,New York,Knicks,1-2,21,23,...,0,0,0,86,0.341,0.727,0.200,15,48,13
1,2023-05-06T00:00:00,1,0042200203,1610612748,MIA,Miami,Heat,2-1,29,29,...,0,0,0,105,0.389,0.903,0.219,17,50,13
2,2023-05-06T00:00:00,2,0042200233,1610612744,GSW,Golden State,Warriors,1-2,30,18,...,0,0,0,97,0.396,0.706,0.295,26,42,19
3,2023-05-06T00:00:00,2,0042200233,1610612747,LAL,Los Angeles,Lakers,2-1,23,36,...,0,0,0,127,0.525,0.757,0.484,27,44,12

In [7]:
def get_winner(group):
    points = group['PTS'].idxmax()
    winner = group.loc[points, ['GAME_DATE_EST', 'GAME_SEQUENCE', 'TEAM_ID']]
    return winner

winners = games.groupby('GAME_ID').apply(get_winner)
print(winners)

                  GAME_DATE_EST  GAME_SEQUENCE     TEAM_ID
GAME_ID
0042200203  2023-05-06T00:00:00              1  1610612748
0042200233  2023-05-06T00:00:00              2  1610612747

In [9]:
date = datetime.now()
date_string = date.strftime('%m/%d/%Y')
gamefinder = scoreboardv2.ScoreboardV2(day_offset=0, game_date=date_string)
games = gamefinder.line_score.get_data_frame()

In [10]:
games.head()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2023-05-07T00:00:00,1,0042200214,1610612738,BOS,Boston,Celtics,2-1,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2023-05-07T00:00:00,1,0042200214,1610612755,PHI,Philadelphia,76ers,1-2,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2023-05-07T00:00:00,2,0042200224,1610612743,DEN,Denver,Nuggets,2-1,None,None,...,None,None,None,None,None,None,None,None,None,None
3,2023-05-07T00:00:00,2,0042200224,1610612756,PHX,Phoenix,Suns,1-2,None,None,...,None,None,None,None,None,None,None,None,None,None

In [12]:
winners = games.groupby('GAME_ID').apply(get_winner)
# winners = winners.reset_index()

TypeError: reduction operation 'argmax' not allowed for this dtype